/* CSS Document */

/**********     STUDY     **********/
.study-main {
  margin-top: 100px;
  color: #333333;
}

@media screen and (max-width: 769px) {
  .study-main {
    margin-top: 60px;
  }
}